@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10, 1, 24;
  --foreground: 255, 255, 255;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 40s linear infinite;
}

.group:hover .animate-marquee {
  animation-play-state: paused;
}

.group:hover .animate-marquee2 {
  animation-play-state: paused;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(34, 211, 238, 0.5);
  }
}
